<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suheng.structure.wallpaperpicker">

    <!--<uses-feature android:name="android.hardware.type.watch" />-->

    <uses-permission android:name="android.permission.SET_WALLPAPER_COMPONENT" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true" />

    <!--<uses-permission android:name="android.permission.DELETE_PACKAGES" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".WallpaperPickActivity"
            android:icon="@drawable/icon_app_alarm_clock"
            android:label="@string/app_theme_one"
            android:theme="@style/WallpaperPickActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.wiz.watch.WallpaperPicker" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="key_icon_face"
                android:resource="@drawable/icon_app_camera" />
        </activity>

        <activity
            android:name=".WallpaperPick2Activity"
            android:icon="@drawable/icon_app_blood_oxygen"
            android:label="@string/app_theme_two"
            android:theme="@style/WallpaperPickActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--<action android:name="com.wiz.watch.WallpaperPicker" />-->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="key_icon_face"
                android:resource="@drawable/icon_app_calculator" />
        </activity>

        <service android:name=".WallpaperPickService" />
    </application>

</manifest>