<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suheng.structure.wallpaperpicker">
    <!--普通app变系统app步骤：1.手机已root的前提下，把apk push到system的app或priv-app目录；2.重启手机-->
    <!--变成系统app后，app即可获取部分权限。若apk使用的是系统签名且再加上sharedUserId后，则可以让app获取大部分权限。-->
    <!--android:sharedUserId="android.uid.system"-->

    <uses-permission android:name="android.permission.SET_WALLPAPER_COMPONENT" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <!--<uses-permission android:name="android.permission.DELETE_PACKAGES" />-->

    <!--<uses-feature android:name="android.hardware.type.watch" />-->
    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".WallpaperPickActivity"
            android:icon="@drawable/icon_app_alarm_clock"
            android:label="@string/app_theme_one"
            android:theme="@style/WallpaperPickActivityTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.wiz.watch.WallpaperPicker" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="key_icon_face"
                android:resource="@drawable/icon_app_camera" />
        </activity>

        <activity
            android:name=".WallpaperPick2Activity"
            android:icon="@drawable/icon_app_blood_oxygen"
            android:label="@string/app_theme_two"
            android:theme="@style/WallpaperStyle2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--<action android:name="com.wiz.watch.WallpaperPicker" />-->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="key_icon_face"
                android:resource="@drawable/icon_app_calculator" />
        </activity>

        <service android:name=".WallpaperPickService" />
    </application>

</manifest>