<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suheng.wallpaper.myhealth">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <service
            android:name=".MyHealthWatchFace"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER">

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face_config" />
        </service>

        <service
            android:name=".SimpleVapWallpaper"
            android:exported="true"
            android:label="Vap Wallpaper"
            android:permission="android.permission.BIND_WALLPAPER">

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/vap_wallpaper_config" />
        </service>

        <service
            android:name=".VapService"
            android:exported="true" />

        <activity
            android:name=".aty.VapWallpaperConfig"
            android:exported="true"
            android:label="Vap Wallpaper Config"
            android:theme="@style/Theme.AppCompat" />
    </application>
</manifest>